body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3e5e47;
}

.box {
    width: 600px;
    height: 300px;
    background-color: #d4a483;
    color: #3e5e47;
    text-align: center;
    font-size: 40px;
    font-family: "Grenze Gotisch";
    src: url("/fonts/GrenzeGotisch-Bold.ttf") format("ttf");
    padding: 40px;
    border-radius: 15px;
}

.content {
    text-align: center;
    margin: 0
}

.content p {
    margin-bottom: 10px;
    margin-top: 0px;
}

.content img {
    max-width: 100%;
    max-height: 100%;
}

.image1 {
    padding: 7px;
}

.image2 {
    padding: 7px;
}

.image3 {
    padding: 7px;
}

.image4 {
    padding: 7px;
}

.image5 {
    padding: 7px;
}

.image6 {
    padding: 7px;
}

.image7 {
    padding: 7px;
}

.image8 {
    padding: 7px;
}

.image9 {
    padding: 7px;
}

@media only screen and (min-width: 768px) {
    body {
        background-image: url('images/desktopBG.png');
        background-size: cover;
    }
}

/* Media query for mobile */
@media only screen and (max-width: 767px) {
    body {
        background-image: url('images/mobileBG.png');
        background-size: cover;
    }
}